version: 19.04

branches:
  only:
  - master

image: Visual Studio 2017
configuration: Release

dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'

environment:
  matrix:
  - solution_name: MP-MediaInfo.sln
    test_project: MediaInfo.Wrapper.Tests.csproj
  - solution_name: MP-MediaInfo.Core.sln
    test_project: MediaInfo.Wrapper.Core.Tests.csproj

before_build:
- cmd: >-
    dotnet restore %solution_name%

# to run your custom scripts instead of automatic MSBuild
build_script:
  - cmd: msbuild %solution_name% /verbosity:minimal /p:Configuration=Release /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"

test_script:
- cmd: >-
    dotnet test .\MediaInfo.Wrapper.Tests\%test_project% /p:Configuration=Release

artifacts:
- path: .\MediaInfo.Wrapper\bin\Release\*.nupkg
  name: package